$shadow: rgba(0, 0, 0, 0.637);
$text-color: rgb(110, 109, 107);


$main-color: #1755e7;
$secondary-color: #164dcc;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$green-color: #00ffaa;
$green-color-hover: #0fe29c;


$blue-gradient: linear-gradient(
	45deg,
	rgba(4, 14, 34, 0.75),
	rgba(148, 6, 6, 0.75)
);

$card-gradient: linear-gradient(
	45deg,
	rgba(174, 255, 0, 0.294),
	rgba(200, 0, 0, 0.493)
);

$card-gradient-two: linear-gradient(
	45deg,
	rgb(24, 23, 23),
	rgba(200, 0, 0, 0.966)
);
